<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<services>
			<configurations>
				<allowedOrigins hint="list:AddOrigin">
					<origin>http://localhost:3000</origin>
				</allowedOrigins>
			</configurations>
		</services>
		<corsPolicies>
			<policies>
				<corsPolicy>
					<allowedOrigins hint="list:AddOrigin">
						<!-- Adding localhost:3000 to the allowed origins -->
						<allowedOrigin name="localhost">http://localhost:3000</allowedOrigin>
					</allowedOrigins>
				</corsPolicy>
			</policies>
		</corsPolicies>
	</sitecore>
</configuration>