<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <linkManager>
      <providers>
        <add name="switchableLinkProvider" 
             type="Sitecore.XA.Foundation.Multisite.LinkManagers.SwitchableLinkProvider, Sitecore.XA.Foundation.Multisite" />
        <add name="localizedProvider" 
             type="Sitecore.XA.Foundation.Multisite.LinkManagers.LocalizableLinkProvider, Sitecore.XA.Foundation.Multisite"
             cacheExpiration="5"
             addAspxExtension="false"
             alwaysIncludeServerUrl="false"
             encodeNames="true"
             languageEmbedding="never"
             languageLocation="filePath"
             shortenUrls="true"
             useDisplayName="false" />
        <add name="lpCustomAlways" 
             type="Sitecore.XA.Foundation.Multisite.LinkManagers.LocalizableLinkProvider, Sitecore.XA.Foundation.Multisite"
             cacheExpiration="5"
             addAspxExtension="false"
             alwaysIncludeServerUrl="false"
             encodeNames="true"
             languageEmbedding="always"
             languageLocation="filePath"
             shortenUrls="true"
             useDisplayName="false" />
        <add name="lpCustomNever" 
             type="Sitecore.XA.Foundation.Multisite.LinkManagers.LocalizableLinkProvider, Sitecore.XA.Foundation.Multisite"
             cacheExpiration="5"
             addAspxExtension="false"
             alwaysIncludeServerUrl="false"
             encodeNames="true"
             languageEmbedding="never"
             languageLocation="filePath"
             shortenUrls="true"
             useDisplayName="false" />
      </providers>
    </linkManager>
  </sitecore>
</configuration>
